.wrapper {
  position: relative;
}

.layout {
  display: flex;
}

main {
  position: relative;
  flex-grow: 1;
  padding: 1rem;
  box-shadow: inset 0 0 15px black;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 250px; /* Ширина sidebar */
  padding-bottom: 60px; /* Высота footer */
}

.content {
  flex: 1;
  padding: 20px;
}